/* Write your CSS here */

.filter-item-button {
  color: black;
  background-color: transparent;
  border-style: none;
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
  padding: 1px 10px;
}

.language-filter-ul {
  padding: 0px;
}

.active-button {
  border-style: solid;
  border-color: #0284c7;
  color: #0284c7;
  border-radius: 10px;
}

li {
  list-style-type: none;
}
